.red-color {
    color: red;
}
.app-wrapper {
display:grid;
  grid-template-areas:
"h h"
"n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.header{
grid-area: h;
  background-color: #ccc;
}
.nav{
  grid-area: n;
  background-color: #333;
}
.content{
  grid-area: c;
}
.loginBlock{
  float: right;
  padding-right: 10px;
  padding-top: 20px;
}
