.modal{
z-index: 9999;
position: absolute;
top: 300px;
left: 50%;
width: 500px;
height: 250px;
padding: 50px;
border:5px solid #333333;
border-radius: 10px;
transform: translate(-50%, -50%);
background: #fff;
display: block;
}
.close{
  border: 3px solid #333333;
  width: 25px;
  height: 30px;
  cursor: pointer;

}
